[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/imgui-sfml"]
	path = vendor/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
